footer {
    background-color: black;
    height: 50px;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}