header {
    display: flex;
    justify-content: center;
    border-bottom: 0.3px solid lightgrey;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightblue; */
    width: 60%;
    height: 100px;
}

#header-container p {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
}

#header-logo img {
    width: 70px;
}

#menu-cart-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 100px;
    margin-right: 30px;
}

#menu-container {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#cart-container {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}