#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    width: 800px;
    height: 200px;
    margin: 30px 0 30px 0;
    border: 1px solid red;
}

#category-grid {
    /* border: 1px solid red; */
    margin: 25px 0 25px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax (300px, auto);
    grid-gap: 20px;
}

.caterogy-card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
}

.caterogy-card img {
    height: 150px;
}

#poster-img {
    width: 150px;
}

.divider {
    width: 60%;
    border-bottom: 1px solid lightgrey;
}